form {
  border: 1px solid black;
  padding: 10px;
}

input[type=text], input[type=submit] {
  margin: 5px auto;
  display: block;
  width: 80%;
  padding: 10px;
  text-align: center;
}

input[type=submit] {
  max-width: 200px;
}

input[type=submit]:active {
  box-shadow: 1px 2px;
}

.notification {
  text-align: center;
}