.listMessage {
    height:200px; 
    width:90%;
    overflow: scroll;
    overflow-y:scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;

}

.messageField {
    display: flex;
    justify-content: space-between;

}

.chatText {
    width: 100%;
}