.form {
  text-align: center;
}

.input {
  width: 50%;
  text-align: center;
}

.form-input {
  width: 50%;
  margin: auto;
}

.notification {
  text-align: center;
  color: red;
}

.list-wrapper {
  text-align: center;
}

.list {

}